OPENAI_API_KEY=
OPENAI_BASE_URL=
LOCAL_BROWSER_EXECUTABLE_PATH=

# International Lexmount project.
LEXMOUNT_API_KEY=
LEXMOUNT_PROJECT_ID=
LEXMOUNT_BASE_URL=

# Mainland China Lexmount project.
LEXMOUNT_CN_API_KEY=
LEXMOUNT_CN_PROJECT_ID=
LEXMOUNT_CN_BASE_URL=
